@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial;
  background-color: var(--neutral-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
  margin: 5px 0;
  color: var(--text-color);
}

img {
  width: 25%;
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid var(--primary-color);
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  /* border: 3px solid var(--primary-color);
  border-radius: 10px; */
}

.description-container h2 {
  color: var(--primary-color);
}

ol,
ul {
  list-style-type: none;
  padding: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 1px solid var(--neutral-color);
  border-bottom: 10px solid var(--primary-color);
  border-radius: 5px;
  flex-wrap: wrap;
  width: 50%;
}

li {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
